*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    height: 100vh;
}
.main{
    height: 100vh;
    background-image: url("images/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

}
.box {
    height: 500px;
    width: 800px;
    border: 1px solid rgba(48, 48, 48, 0.3);
    box-shadow: 20px 20px 30px rgba(47, 47, 47,0.8);
    overflow: hidden;
}
.slider{
    display: grid;
    grid-template-columns: repeat(4, 100%);
    height: 100%;
    width: 100%;
    animation: abc 10s ease-in-out infinite alternate;
}

.imgbox1,.imgbox2,.imgbox3,.imgbox4{
        height: 100%;
        width: 100%;
        background-color: red;
    }
.slider .imgbox1{
    background-image: url("images/img01.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.slider .imgbox2{
    background-image: url("images/img02.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.slider .imgbox3{
    background-image: url("images/img03.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.slider .imgbox4{
    background-image: url("images/img04.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


@keyframes abc {
    0%{transform: translateX(0%);}
    10%{transform: translateX(-100%);}
    20%{transform: translateX(-100%);}
    30%{transform: translateX(-200%);}
    40%{transform: translateX(-200%);}
    50%{transform: translateX(-200%);}
    60%{transform: translateX(-300%);}
    70%{transform: translateX(-300%);}
    80%{transform: translateX(-300%);}
    90%{transform: translateX(0%);}
    100%{transform: translateX(0%);}
}