*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100%;
    background-color: rgb(235, 235, 235);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.main{
    height: 75%;
    width: 50%;
    background-color: rgb(218, 160, 160);
    border: 1px solid black;
   position: relative;
   
}

.m1{
    width: 200px;
    height: 200px;
    border: 1px solid;
    position: absolute;
    /* background-color: red; */
}

.m1:nth-child(1){
    background-color: rgb(240, 161, 249);
    /* top: 150px; */
    left: 210px;
    z-index: -1;
}
.m1:nth-child(2){
    background-color: rgb(249, 234, 161);
    right: 50px;
    top: 150px;
}
.m1:nth-child(3){
    background-color: rgb(176, 249, 161);
    bottom: 0px;
    left: 210px;
}
.m1:nth-child(4){
    background-color: rgb(179, 161, 249);
    top: 150px;
    left: 50px;
}
