.k{
    color: rgb(255, 3, 3);
    background-color: rgb(255, 170, 170);
    text-align: center;
    text-transform: capitalize;
    font-family: sans-serif;
    letter-spacing: 4px; 
    border: 1px solid black;
    border-radius: 25px;
    padding: 5px;
    text-shadow: 2px 2px 2px white;
}
.pa{
    color: rgb(255, 67, 67);
    background-color: rgb(255, 225, 225);
    text-align: left;
    text-transform: capitalize;
    font-family: sans-serif;
    /* letter-spacing: 4px; */
    border: 1px solid black;
    /* border-radius: 25px; */
    padding: 5px;
    text-shadow: 2px 2px 2px white;
}
