* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    height: 100vh;
   
}
.bodyy{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
/* ----------------->>>>>>>>>> NAVIGATION BAR <<<<<<<<<<----------------- */
nav {
    height: 60px;
    width: 93%;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

}
.nav1{
    height: 100%;
    width: 25%;
    display: flex;
    /* justify-content: center; */
    align-items: center;

}
.nav11{
    font-size: 24px;
    font-weight: 700;
    color: #272727;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    /* margin-left: 55px; */
}

.nav2{
    height: 100%;
    width: 50%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 16px;
    color: #272727;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;

    padding: 0px 25px;
}

.nav3{
    height: 100%;
    width: 25%;
    list-style: none;
    display: flex;
    /* justify-content: space-between; */
    justify-content: end;
    align-items: center;   
    
}
#nav31,#nav32{
    /* width: 25%; */
    font-size: 16px;
    color: #272727;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    margin: 2px;
}
#nav31{
    margin: 30px;
}

/* ----------------->>>>>>>>>> HOME PAGE <<<<<<<<<<----------------- */
.home{
    height:600px;
    width: 93%;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    margin-top: 50px;
    background-color: rgb(249, 250, 250);
}
/* home 1 */
#home1{
    height: 70%;
    width: 40%;

    display: flex; 
    flex-wrap: wrap;
    align-items: end;

}
.home1cent{
    height: 80%;
    width: 100%;  
    
}
#home11{
    height: 33.333%;
    width: 95%;

    display: flex;
    justify-content: center;
    align-items: center;
}
.home11h1{
    font-size: 40px;
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 1px;
    
    padding: 0px 20px;
}

#home12{
    height: 33.333%;
    width: 100%;
}
.home12p{
    width: 95%;
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    /* padding: 25px 0px; */
    text-align: justify;
    
    padding: 15px 20px;
}

#home13{
    height: 33.333%;
    width: 100%;
}
.homebtn1,.homebtn2{
    height: 50px;
    width: 165px;
    color: white;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    border: none;
}
.homebtn1{
    background-color: rgb(248, 151, 68);
    margin: 0px 20px;
}
.homebtn2{
    background-color: rgb(134, 210, 206);
}
/* home 2 */
#home2{
    height: 70%;
    width: 60%;

    background-image: url("images/slider-img.png");
    background-repeat: no-repeat;
    background-size: 98%;

}

/* home 3 */
#home3{
    height: 10%;
    width: 100%;
    margin-bottom: 300px;


}
.dots{
    height: 100%;
    /* width: 100%; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: end;
    list-style: none;
}
.dot1,.dot2,.dot3{
    height: 12px;
    width: 12px;
    background-color: #6bb7be;
    border-radius: 100%;
    margin: 3px 3px;
}
.dot1{
    height: 15px;
    width: 15px;
    margin: 3px 4px;
    
    background-color: rgb(248, 151, 68);
}

/* ----------------->>>>>>>>>> FURNITURE PAGE <<<<<<<<<<----------------- */
.furniture{
    height:1100px;
    width: 93%;

    margin-top: 50px;
 }
.furnhead{
    height: 100px;
    width: 100%;
}
.furnh2{
    height: 50%;
    width: 100%;
    font-size: 32px;
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    margin: 0px 0px 8px 0px;
    padding: 0px 20px;
}
.furnp{
    font-size: 19px;
    font-family: "Poppins", sans-serif;
    margin: 0px 0px 16px 0px;
    padding: 0px 20px;
}
/* items */
.items{
    height: 90%;
    width: 100%;

    display: flex;
    flex-direction: row;

    flex-wrap: wrap;
    justify-content: space-between;
    align-items: end;
    
}
#itemin{
    height: 45%;
    width: 30%;
    background-color: rgb(238, 243, 243);
    border-radius: 2px;
  
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 40px;

}

#item1,#item2,#item3,#item4,#item5,#item6{
    height: 100%;
    width: 100%;
    

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 0px;
}


/* furniture images */
.itemimg{
    height: 70%;
    width:  80%;
    background-repeat: no-repeat;
    background-size: contain;

    display: flex;
    justify-content: center;
}
#item1img{
    background-image: url("images/f1.png");
    width: 70%;
}
#item2img{
    background-image: url("images/f2.png");
    width: 70%;
}
#item3img{
    background-image: url("images/f3.png");
    width: 60%;
}
#item4img{
    background-image: url("images/f4.png");
}
#item5img{
    background-image: url("images/f5.png");
    width: 70%;
}
#item6img{
    background-image: url("images/f6.png");
    height: 70%;
    width: 60%;
}

#item1dis,#item2dis,#item3dis,#item4dis,#item5dis,#item6dis{
    height: 18%;
    width: 100%;
    position: absolute;
    bottom: 0px;
}

.itemdis{
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    padding: 0px 20px;
    margin: 0px 0px 8px;
    font-weight: lighter;
}   

/* PRICEBOX & BUY-NOW */
.pricebox{
    height: 50%;
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding: 0px 20px;
}
.furnprice{
    height: 60%;
    width: 20%;
    display: flex;
    justify-content: start;
    position: absolute;
    left: 20px;

}
.dollar{
    color: rgb(107, 183, 190);
    display: inline-block;
    position: absolute;
    left: 0px; 

}
.furnpriceh5{
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    margin: 0px 0px 0px 15px;
    font-weight: lighter;
}
.buynow{
    position: absolute;
    right: 20px;
    text-decoration: none;
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    margin: 0px 0px 0px 15px;
    font-weight: lighter;
    color: rgb(107, 183, 190);
}


/* ----------------->>>>>>>>>> ABOUT US PAGE <<<<<<<<<<----------------- */
.about{
    height:600px;
    width: 93%;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(249, 250, 250);

    margin-top: 50px;
    padding: 90px 15px;
}
/* about1 */
#about1{
    height: 100%;
    width: 50%;
    position: relative;
}
.about1img{
    height: 80%;
    width: 100%;
    background-image: url("images/about-img.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    bottom: 0px;
}

#about2{
    height: 100%;
    width: 50%;
    position: relative;
}
.about2cont{
    height: 70%;
    width: 100%;
    position: absolute;
    bottom: 0px;
    padding: 0px 15px;
}
.about2head{
    font-size: 32px;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    padding: 0px 0px 8px;
    font-weight: 800;
    line-height: 1.2;
}
.about2p{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 35px;
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    padding: 0px 0px 8px;
    line-height: 1.5;
    text-align: start;
    letter-spacing: 1px;
    word-spacing: 2px;
}
.about2btn{
    color: white;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    padding: 10px 45px;
    border: 1px solid #6bb7be;
    background-color: #6bb7be;
}

/* ----------------->>>>>>>>>> LATEST BLOG PAGE <<<<<<<<<<----------------- */
.blog{
    height:700px;
    width: 93%;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    margin-top: 80px;
    padding: 50px 15px;

    display: flex;
    flex-wrap: wrap;

    position: relative;
}
.blogheading{
    font-size: 32px;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    padding: 0px 0px 8px;
    font-weight: 800;
    line-height: 1.2;

    position: absolute;
    top: 40px;
}
.blogcont{
    height: 80%;
    width: 100%;
    position: absolute;
    bottom: 0px;

    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: start;
}

.blog123{
    height: 94%;
    width: 31%;
    box-shadow: 0px 0px 15px rgb(215, 215, 215);
}
#blog3{
    height: 98%;
}
.blogimg1,.blogimg2,.blogimg3{
    height: 50%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.blogimg1{
    background-image: url("images/b1.jpg");
}
.blogimg2{
    background-image: url("images/b2.jpg");
}
.blogimg3{
    background-image: url("images/b3.jpg");
}

/* BLOG CONTAINT */
.blogcnt{
    height: 50%;
    width: 100%;
    padding: 25px;
}
.blogcnth5{
    font-size: 24px;
    font-family: "Poppins", sans-serif;
    margin: 0px 0px 8px;
    font-weight: bold;
}
.blogcntp{
    width: 85%;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    color: #444;
    margin-top: 0;
    margin-bottom: 1rem;
    /* letter-spacing: 1px; */
    word-spacing: 2px;
    line-height: 1.2;
}
.blogcntbtn{
    height: 50px;
    width: 150px;
    color: white;
    border: 1px solid #6bb7be;
    background-color: #6bb7be;
    padding: 10px 30px;
}

/* ----------------->>>>>>>>>> TESTIMONIAL PAGE <<<<<<<<<<----------------- */
.testi{
    height: 700px;
    width: 93%;
}
.testihead{
    height: 80px;
    width: 100%;
    margin-top: 50px;
    text-align: center  ;
    padding: 20px;
    position: relative;
}
#testih1{
    font-size: 32px;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    padding: 0px 0px 8px;
    font-weight: 800;
    line-height: 1.2; 
    position: absolute;
    bottom: 0px;
    left: 40%;
}
/* Testi main containt  */
.testcont{
    height: 430px;
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    position: relative;
}

/* detail box in testimonial */
.testcont1{
    height: 270px;
    width: 75%;


    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-items: center;

    box-shadow: 0px 0px 15px rgb(201, 201, 201);
    position: relative;
}
.testi1img{
    height: 200px;
    width: 190px;
    border-radius: 100%;
    border: 10px solid #6bb7be;
    margin-left: 5px;
    overflow: hidden;

    /* position: absolute; */
}
.testi1detail{
    height: 80%;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px 5px;
    /* position: absolute; */
}

.testi1detailh2{
    color: #6bb7be;
    font-size: 24px;
    font-family: "Poppins", sans-serif;
    padding: 0px 0px 8px;
}
.testi1detailp{
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    padding: 0px 0px 8px;
    letter-spacing: 1px;
    line-height: 1.3;
}

/* Arrows in testimonial */
.testcont2{
    height: 60px;
    width: 65%;
    position: absolute;
    bottom: 0px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}
.arrows{
    height: 100%;
    width: 16%;


    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    padding: 2px;
}
.arrow1,.arrow2{
    height: 90%;
    width: 40%;
    background-color: #6bb7be;
    margin: 0px 5px;
    border-radius: 100%;

    font-size: 20px;
    font-family: "Poppins", sans-serif;

    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

/* ----------------->>>>>>>>>> Contact us PAGE <<<<<<<<<<----------------- */
.contact{
    height: 750px;
    width: 93%;
    padding: 50px 10px;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: rgb(247, 247, 247);
}

/* forum */
.forum{
    height: 100%;
    width: 49%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    position: relative;
}
.forumh1{
    font-size: 32px;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    padding: 0px 0px 8px;
    font-weight: 800;
    line-height: 1.2;
    letter-spacing: 1px;

}
.form{
    height: 85%;
    width: 100%;
    position: absolute;
    bottom: 0px;

}
.contactform{
    height: 50px;
    width: 98%;
    margin: 15px 7px;
    padding: 0px 15px;
    border: none;
    background-color: white;
    box-shadow: 0px 0px 10px rgb(202, 202, 202);
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    color: rgb(0, 0, 0);
    
}

#Message{
    height: 140px;
}

.btnsend{
    height: 50px;
    width: 170px;
    margin: 15px 7px;
    padding: 0px 15px;
    text-transform: uppercase;
    border: none;
    background-color: #6bb7be;

    font-size: 20px;
    font-family: "Poppins", sans-serif;
    color:white;

}
/* map */
.map{
    height: 100%;
    width: 49%;

    display: flex;
    align-items: flex-end;
}
.gmap{
    height: 100%;
    width: 100%;
    padding: 0px 25px;  
}


/* ----------------->>>>>>>>>> FINAL PAGE <<<<<<<<<<----------------- */
.finalpage{
    height: 600px;
    width: 93%;
    border: 1px solid red;
    background-color: black;
    z-index: 1;

    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    /* align-items: center; */
}

.final1{
    height: 180px;
    width: 100%;
    border: 1px solid white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.fphone,.fmail,.flocation{
    height: 100%;
    width: 31%;
    border: 1px solid rgb(255, 255, 255);
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 100;
}
#fafa{
    color: white;
    font-size: 32px;
    margin-top: 20px;
}
.conth3{
    width: 100%;
    text-align: center;
}


/* ----------------->>>>>>>>>> FOOTER PAGE <<<<<<<<<<----------------- */
.footerp{
    height: 50px;
    width:100%;
    text-align: center;
    padding: 10px;
    margin: 10px;
    
}
