    * {
        padding: 0px;
        margin: 0px;
        box-sizing: border-box;
    }

    body {
        background-color: rgb(0, 0, 0);
        height: 100vh;

    }

    /* ----------------->>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>     first      */
    .first {
        height: 20%;
        width: 100%;
        background-color: rgb(118, 118, 255);
        border: 2px solid black;
        display: block;
    }

    /*----------------->>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>      second      */
    .second {
        height: 60%;
        width: 100%;
        background-color: rgb(255, 106, 106);
        border: 2px solid black;
        display: flex;

    }

    /*     second part -1 */
    .second1 {
        width: 40%;
        height: 100%;
        background-color: rgb(138, 255, 255);
        border: 2px solid black;
    }

    /*      second part -111 */
    .second1-1 {
        width: 100%;
        height: 30%;
        border: 2px solid rgb(255, 139, 139);
        background-color: brown;
    }

    /*      second part -222 */
    .second1-2 {
        width: 100%;
        height: 70%;
        border: 2px solid black;
        background-color: rgb(212, 255, 136);
    }

    /*     second part  -2 */
    .second2 {
        width: 80%;
        height: 100%;
        background-color: rgb(185, 134, 255);
        border: 2px solid black;
        display: flex;
        flex-wrap: wrap;
    }

    /* mushkil 4 boxx */
    #second2-1 {
        height: 60%;
        width: 60%;
        background-color: rgb(187, 139, 255);
        border: 2px solid black;
    }

    #second2-2 {
        height: 60%;
        width: 40%;
        background-color: rgb(255, 195, 116);
        border: 2px solid black;
        /* display: flex; */
    }

    .second2-2-1 {
        height: 50%;
        width: 100%;
        background-color: rgb(130, 255, 209);
        border: 2px solid rgb(255, 126, 126);
    }

    .second2-2-2 {
        height: 50%;
        width: 100%;
        background-color: rgb(176, 255, 133);
        border: 2px solid black;
    }

    #second2-3 {
        height: 40%;
        width: 100%;
        background-color: rgb(136, 142, 255);
        border: 2px solid black;
    }

    /* ----------------->>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>     third -3     
    /* keshav */
    .third {
        height: 20%;
        width: 100%;
        background-color: rgb(0, 0, 0);
        border: 2px solid black;
        display: flex;
    }

    .third1 {
        height: 100%;
        width: 70%;
        background-color: rgb(138, 255, 189);
        border: 2px solid black;
    }

    .third2 {
        height: 100%;
        width: 30%;
        background-color: rgb(187, 139, 255);
        border: 2px solid black;
    }