* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
}

/* ----------------------->>>>>>>>>>>>>> ASIDE PAGE --->>> */
aside {
    height: 100%;
    width: 22%;
    position: fixed;
}

/* ----->>>>> ASIDE TOP */
.asidetop {
    height: 30%;
    width: 100%;
}

.asideimg {
    height: 55%;
    width: 45%;
    background-image: url(https://www.w3schools.com/w3images/avatar_g2.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    margin: 20px;
    border: none;
    border-radius: 5px;
}

.portfloio {
    font-size: 20px;
    font-family: "Raleway", sans-serif;
    font-weight: bolder;
    margin-left: 20px;
}

.portfoliod {
    font-size: 15px;
    font-family: "Raleway", sans-serif;
    margin: 15px 0px;
    margin-left: 20px;
    opacity: 0.5;
}

/* ----->>>>> ASIDE BOTTOM */
.asidebottom {
    height: 40%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.asidecontent {
    height: 50%;
    width: 100%;
}

.asidecontent1 {
    height: 10%;
    width: 100%;
    font-size: 16px;
    margin-top: 20px;
    margin-left: 10px;
    padding: 8px 16px;

    letter-spacing: 1px;
    font-family: "Raleway", sans-serif;
}

i {
    color: rgb(0, 0, 0);
    margin: 0px 10px;
}

.soicallink {
    height: 50%;
    width: 80%;
}

#links {
    color: black;
    margin-left: 20px;
    size: 16px;
    margin: 16px 0px;
}

/* ----------------------->>>>>>>>>>>>>> MAIN PAGE --->>> */
.main {
    /* height: ; */
    width: 78%;
    background-color: rgb(241, 241, 241);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    position: absolute;
    top: 0px;
    right: 0px;
}

/* ----------------------->>>>>>>>>>>>>> FIRST PAGE --->>> */
.first {
    height: 900px;
    width: 97%;
    background-color: rgb(241, 241, 241);
}

.mainhead {
    height: 50px;
    width: 100%;
    margin: 10px 0px;

    font-size: 36px;
    font-family: "Raleway", sans-serif;
}

.firstcont {
    height: 800px;
    width: 100%;
}

.firstcont1 {
    height: 40px;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    font-family: "Raleway", sans-serif;
}

.filters {
    background-color: white;
    height: 100%;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 16px 0px;
    margin: 0px 5px;
    font-size: 15px;
    font-family: "Raleway", sans-serif;
}

hr {
    margin: 20px 0px;
    height: 5px;
    background-color: rgb(204, 204, 204);
}


.firstcont2 {
    height: 720px;
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

}

.firstphoto {
    height: 340px;
    width: 350px;
    background-color: white;

}

.firstphoto0 {
    height: 60%;
    width: 100%;
}

#firstphoto1 {
    background-image: url(https://www.w3schools.com/w3images/mountains.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#firstphoto2 {
    background-image: url(https://www.w3schools.com/w3images/lights.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#firstphoto3 {
    background-image: url(https://www.w3schools.com/w3images/nature.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#firstphoto4 {
    background-image: url(https://www.w3schools.com/w3images/p1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#firstphoto5 {
    background-image: url(https://www.w3schools.com/w3images/p2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#firstphoto6 {
    background-image: url(https://www.w3schools.com/w3images/p3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.firstphotod {
    height: 40%;
    width: 100%;
    position: relative;
}

.imgh {
    height: 30px;
    width: 100%;
    position: absolute;
    top: 10px;
    padding: 5px 10px;

    font-weight: bold;
    font-size: 15px;
    font-family: "Raleway", sans-serif;
}

.imgdis {
    height: 60%;
    width: 100%;
    position: absolute;
    bottom: 20px;

    padding: 16px 10px;
    font-size: 15px;
    font-family: "Raleway", sans-serif;
}

/* ----------------------->>>>>>>>>>>>>> PAGE NUMBER --->>> */
.pagenum {
    height: 110px;
    width: 97%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.pagenumm {
    height: 50%;
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.pn {
    height: 70%;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 15px;
    font-family: "Raleway", sans-serif;
}

#pagenum2 {
    background-color: black;
    color: white;
}

/* ----------------------->>>>>>>>>>>>>> ABOUT IMG PAGE --->>> */
.aboutimg {
    height: 340px;
    width: 97%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.aboutimg0 {
    height: 100%;
    width: 49%;
}

#aboutimg1 {
    background-image: url(https://www.w3schools.com/w3images/avatar_g.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#aboutimg2 {
    background-image: url(https://www.w3schools.com/w3images/me2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* ----------------------->>>>>>>>>>>>>> ABOUT ME PAGE --->>> */
.about {
    height: 1250px;
    width: 97%;
    margin-top: 50px;
}

.aboutme {
    height: 150px;
    width: 100%;
}

.abouth {
    margin: 10px 5px;
    font-size: 20px;
    font-weight: bold;
    font-family: "Raleway", sans-serif;
}

.aboutd {
    margin: 15px 5px;
    line-height: 1.5;
    font-size: 15px;
    font-family: "Raleway", sans-serif;
    text-align: justify;
}

.skill {
    height: 400px;
    width: 100%;

}

.skillh {
    margin: 10px 5px;
    font-size: 20px;
    font-weight: lighter;
    font-family: "Raleway", sans-serif;
}

.skillform{
    height: 90%;
    width: 100%;
}
.skillp{
    margin: 10px 5px;
    font-size: 15px;
    font-weight: lighter;
    font-family: "Raleway", sans-serif;
}
.total{
    height: 40px;
    width: 100%;
    background-color: rgb(158, 158, 158);
    margin: 20px 0px;
}
.my{
    height: 100%;
    background-color: rgb(97, 97, 97);
    display: flex;
    justify-content: center;
    align-items: center;
}
#my1{
    width: 95%;
}
#my2{
    width: 85%;
}
#my3{
    width: 80%;
}
.myp{
    color: white;
    font-size: 15px;
    font-family: "Raleway", sans-serif;
}
.resume{
    color: white;
    font-size: 15px;
    font-family: "Raleway", sans-serif;
    background-color: rgb(97, 97, 97);

    margin: 10px 0px;
    padding: 12px 24px;
    border: none;
}
.fa-download ,.fa-phone,.fa-location-dot,#envel{
    color: rgb(255, 255, 255);
}

/* ----------------------->>>>>>>>>>>>>> SUBSCRIPTION PAGE --->>> */
.subs{

    height: 550px;
    width: 100%;
    margin-top: 50px;
}
.l1{
    font-size: 20px;
    font-family: "Raleway", sans-serif;
    margin: 10px 0px;
}
.plan{
    height: 500px;
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.plan0{
    height: 100%;
    width: 32%;
    border: 1px solid rgba(97, 97, 97,0.5);
}

.pl1{
    font-size: 24px;
    font-family: "Raleway", sans-serif;
    padding: 32px 16px;
    text-align: center;
    color: white;
    background-color: rgb(97, 97, 97);
    border: 1px solid rgb(255, 255, 255);
}
.pl2{
    font-size: 15px;
    font-family: "Raleway", sans-serif;
    padding: 16px;
    text-align: center;
    background-color: white;
    border: 1px solid rgba(97, 97, 97,0.5);
}
.pl3{
    font-size: 15px;
    font-family: "Raleway", sans-serif;
    padding: 16px;
    text-align: center;
    background-color: white;
    border: 1px solid rgba(97, 97, 97,0.5);}
.pl4{
    font-size: 15px;
    font-family: "Raleway", sans-serif;
    padding: 16px;
    text-align: center;
    background-color: white;
    border: 1px solid rgba(97, 97, 97,0.5);}
.pl5{
    font-size: 15px;
    font-family: "Raleway", sans-serif;
    padding: 16px;
    text-align: center;
    background-color: white;
    border: 1px solid rgba(97, 97, 97,0.5);
}
.pl6{
    font-size: 15px;
    font-family: "Raleway", sans-serif;
    padding: 16px;
    text-align: center;
    background-color: white;
    border: 1px solid rgba(97, 97, 97,0.5);
}
#pl61{
    font-size: 30px;
    font-family: "Raleway", sans-serif;
    margin: 10px 0px;
}
#pl62{
    font-size: 15px;
    font-family: "Raleway", sans-serif;
    margin: 10px 0px;
}
.pl7{
    padding: 24px 16px;
    text-align: center;
}
#pl71{
    font-size: 15px;
    font-family: "Raleway", sans-serif;
    padding: 12px 24px;
    color: white;
    background-color: rgb(0, 150, 136);
    border: none;
}

/* ----------------------->>>>>>>>>>>>>> CONTACT ME PAGE --->>> */
.contactme{
    height: 540px;
    width: 100%;
    display: flex;
    justify-content: center;

    background-color: rgb(158, 158, 158);
}
.contact1{
    height: 200px;
    width: 97%;
}
h2{
    font-size: 20px;
    font-family: "Raleway", sans-serif;
    margin: 20px;
}
.contactlink{
    height: 100px;
    width: 100%;

    display: flex;
    justify-content: center;
}
.mail,.location,.phone{
    height: 100%;
    width: 33.33333%;
    color: white;
    background-color: rgb(97, 97, 97);
    /* border: 1px solid black; */
    text-align: center;
}
#locationID{
    background-color: rgb(0, 150, 136);
}
.links{
    font-size: 15px;
    font-family: "Raleway", sans-serif;
    margin: 15px 0px;
}

.fa-phone,.fa-location-dot,#envel{
    display: block;
    font-size: 30px;
    margin-top: 15px;
}

#hrtag {
    width: 100%;
    margin: 30px 0px;
    height: 5px;   
}
.contact2{
    height: 310px;
    width: 100%;
    
}

label{
    font-size: 15px;
    font-family: "Raleway", sans-serif;   
}
input{
    height: 50px;
    width: 100%;
    margin-bottom: 20px;
}
.send{
    padding: 8px 16px;
    color: white;
    background-color: black;
    text-align: center;

    font-size: 15px;
    font-family: "Raleway", sans-serif;  
}
.fa-telegram{
    color: white;
}

/* ----------------------->>>>>>>>>>>>>> BOTTOM PAGE --->>> */
.bottom{
    height: 280px;
    width: 100%;
    background-color: rgb(97, 97, 97);

    display: flex;
    flex-wrap: wrap;
}
.b1,.b2,.b3{
    height: 100%;
    width: 33.3333%;
    border: 1px solid rgb(97, 97, 97);
    padding: 32px 16px;
}
.bhead{
    font-size: 24px;
    font-family: "Raleway", sans-serif; 
    margin: 10px 0px;
    color: white;
    font-weight: lighter;
}
.bcontent{
    height: 80%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;


}
.blogpost0{
    height: 100px;
    width: 100%;
    /* border: 1px solid rgba(0, 0, 0,0.2); */
    /* display:flex; */
    justify-content: center;
}
#blogpost1{
    background-image: url(https://www.w3schools.com/w3images/workshop.jpg);
    background-repeat: no-repeat;
    background-size: 70px;

}
#blogpost2{
    background-image: url(https://www.w3schools.com/w3images/gondol.jpg);
    background-repeat: no-repeat;
    background-size: 70px;

}
.bpheading{
    font-size: 24px;
    font-weight: lighter;
    color: white;
    margin-top: 10px;
    margin-left: 25%;
    font-family: "Raleway", sans-serif; 
}
.bppara{
    font-size: 20px;
    font-weight: lighter;
    color: white;
    margin-top: 5px;
    margin-left: 25%;
    font-family: "Raleway", sans-serif; 
}
.bp{
    margin-top: 20px;
    text-align: justify;
    color: white;
    font-size: 15px;
    font-family: "Raleway", sans-serif; 
}
a{
    color: white;
}
.manydiv{

    margin: 10px 3px;
    padding: 6px 10px;
    background-color: rgb(158, 158, 158);

    text-align: center;
    font-size: 12px;
    font-family: "Raleway", sans-serif; 
}

/* ----------------------->>>>>>>>>>>>>> FOOTER PAGE --->>> */
.footerr{
    height: 70px;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

    font-size: 15px;
    font-family: "Raleway", sans-serif;
}