body{display: flex;justify-content: center; align-items: center;}
.box{height: 100px; width: 200px; border: 1px solid black; display: flex; flex-wrap: wrap;  justify-content: space-evenly; align-items: center;} 
.btn{padding: 2px 5px; background-color: rgb(232, 255, 211); height: 20px; width: 40px; border: none; margin: 0px 5px;}